Installed jupyter notebook in my laptop
- So i will start try to learn code in python

In [2]:
print("Hello dude")

Hello dude

In [ ]:
#Python Indentation -- Indentation refer to the spaces at the begning of code line

In [10]:
age = int(input("Enter the age "))
if age > 18:
    print("You are eligible to have vaccination")
else:
    print("you are under age")

Enter the age 23
You are eligible to have vaccination

In [11]:
if 5>2:
    print("five is Greater than 2")
else:
        print("five is less than 2")

five is Greater than 2

In [12]:
#So it is up to programmmer the no of spaces but is shouwld be atleast one space

In [13]:
# Vaiable in Python

In [14]:
#You can assign varible in python you donot have mention its type a the assignmnet python automatically understand is type

In [15]:
H = "Hello Guys"
J = 234
k = .45
I = 2 + 3j

In [21]:
type(H),type(J),type(k),type(I)

(str, int, float, complex)

In [23]:
#Built-in Data Types
#In programming, data type is an important concept. Variables can store data of different types, and different types can do different things

In [24]:
#Convert from one type to another:

In [26]:
x = 23
y = 4.5
z = 2+4j

In [36]:
 y = float(x)

In [29]:
print(y)

23.0

In [39]:
b = int(y)
print(b)

23

In [40]:
#Strings in python are denoted by either single quotation marks, or double quotation marks

In [42]:
HI = "this is the first code"
l = 'This can updated as per requirment'
print(HI)
print(l)

this is the first code
This can updated as per requirment

In [43]:
# Multiline String
a = """fwor wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
wwwwwwwskjfsjsdkfjswwwwkjdlk
kjlsjkdflskooeipeoieoiwwwww
mcnkkcsjkkcjs"""
print(a)

fwor wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
wwwwwwwskjfsjsdkfjswwwwkjdlk
kjlsjkdflskooeipeoieoiwwwww
mcnkkcsjkkcjs

In [46]:
# Strwing Sclicing in python
S = ("hi friends can you suggest me one idea")
print(S)

hi friends can you suggest me one idea

In [51]:
print(S[2:6])
print(S[:9])
print(S[::])
print(S[::-5])
print(S[0:15])

 fri
hi friend
hi friends can you suggest me one idea
aemguan
hi friends can

In [57]:
print(S[-8:-3])

one i

In [62]:
print(S.upper())

HI FRIENDS CAN YOU SUGGEST ME ONE IDEA

In [63]:
k = 'YOU R SO GOOD'
print(k.lower())

you r so good

In [14]:
s1 = "      can u do one thing for mewwwwW    "
print(s1)
print(s1.strip())

      can u do one thing for mewwwwW
can u do one thing for mewwwwW

In [5]:
first_name = "Harish"
last_name  = "Sharma"
print("Name: ", first_name, last_name)

Name:  Harish Sharma

In [11]:
Fname = input("enter first name")
Lname = input("enter last name")
print(Lname + " " + Fname)

enter first nameharish
enter last namesharma
sharma harish

In [19]:
d =12
r =d/2
#r = 6
pie = 3.1415
v = (4/3)*pie*(r*3)
print("volume of sphare= ", v)

volume of sphare=  75.39599999999999

In [36]:
K = [i for i in range(2000, 3201) if i%7==0 if i%5!=0]
print(K)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [37]:
for i in range(2000, 3200):
    if i%7== 0 and i%5!= 0:
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199